@font-face{
    font-family: "myfont";
    src: url("./Fonts/Montserrat-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
    /* border: 1px solid blue; */
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3vh;
}
h3{
    font-size: 1.125rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1vh;
}
section{
    display: flex;
    justify-content: space-around;
    margin: 0 20vw 0 15vw ;
}
label{
    color: #4f4f4f;
    font-weight: 400;
    font-size: 0.75rem;
}
input{
    font-size: 0.9rem ;
    color: #828282;
    margin: 0.5rem 0;
    width: 400px;
    height: 30px;
    padding-left: 37px;
    /* padding: 20px 30px; */
    border: 1px solid #828282;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
select {
    font-size: 0.9rem ;
    margin: 0.5rem 0;
    width: 150px;
    height: 30px;
    padding-left: 37px;
    border: 1px solid #828282;
    border-radius: 5px;
}
.form{
    margin-top: 5vh;
}
i {
    opacity: 0.5;
    position: absolute;
    top: 2.5vh;
    left: 1vw;
}
.icon-position {
    position: relative;
   /* border: 2px solid red; */
}
.country-form {
    display: flex;
    /* justify-content: space-between; */
}
.post-code-select {
    width: 255px ;
    border: 2px solid blue;
    margin-left: 10px;
}
#post-code {
    width: 225px;
    height: 30px;
    padding-left: 37px;
    border: 1px solid #828282;
    border-radius: 5px;
}